



<body class="single single-royal_portfolio postid-254 single-format-gallery logged-in royal-page-preloader sidebar-top sidebar-top-fixed sidebar-top-scale deeplinking single-header-below-b single-header-below-p sharing-nxt-prev-b sharing-nxt-prev-p project-info-sharing project-info-right infinitescroll-twitter open-house wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    <!-- Whole Page Wrapper -->
    <div id="page-wrap" class="clearfix" data-fx="none" data-fx-speed="500">



        <!-- Main Content Wrapper -->
        <div id="main-wrap">

            <!-- Inner Content Wrapper -->
            <div class="inner-content-wrap">

                <!-- Portfolio Single Post -->
                <article id="post-254" class="portfolio-single clearfix post-254 royal_portfolio type-royal_portfolio status-publish format-gallery has-post-thumbnail hentry royal_portfolio_cats-post-format-gallery royal_portfolio_skills-css royal_portfolio_skills-html royal_portfolio_skills-jquery">

                    <div class="single-wrap body-section clearfix">

                        <!-- Blog Single Gallery Slideshow -->
                        <div class="gallery-slideshow">

                            <div class="gallery-slide">
                                <div class="image-overlay-wrap lightbox-overlay"><a href="upload/content_big_image_066.jpg" class="image-overlay" rel="prettyPhoto[gallery-slide]" data-title="Coffee Gadget"><i class="fa fa-none"></i></a><img src="<%= image_path 'content_big_image_066.jpg'%>" alt="Coffee Gadget" /></div>
                                <p class="stacked-caption"><span>Coffee Gadget</span></p>
                            </div>
                            <div class="gallery-slide">
                                <div class="image-overlay-wrap lightbox-overlay"><a href="upload/content_big_image_065.jpg" class="image-overlay" rel="prettyPhoto[gallery-slide]" data-title="Coffee Gadgets"><i class="fa fa-none"></i></a><img src="<%= image_path 'content_big_image_065.jpg'%>" alt="Coffee Gadgets" /></div>
                                <p class="stacked-caption"><span>Coffee Gadgets</span></p>
                            </div>
                            <div class="gallery-slide">
                                <div class="image-overlay-wrap lightbox-overlay"><a href="upload/content_big_image_064.jpg" class="image-overlay" rel="prettyPhoto[gallery-slide]" data-title="Coffee Gadgets and Cup"><i class="fa fa-none"></i></a><img src="<%= image_path 'content_big_image_064.jpg'%>" alt="Coffee Gadgets and Cup" /></div>
                                <p class="stacked-caption"><span>Coffee Gadgets and Cup</span></p>
                            </div>
                            <div class="gallery-slide">
                                <div class="image-overlay-wrap lightbox-overlay"><a href="upload/content_big_image_073.jpg" class="image-overlay" rel="prettyPhoto[gallery-slide]" data-title="Coffee"><i class="fa fa-none"></i></a><img src="<%= image_path 'content_big_image_073.jpg'%>" alt="Coffee" /></div>
                                <p class="stacked-caption"><span>Coffee</span></p>
                            </div>

                        </div>
                        <!-- Portfolio Single Title & Meta -->
                        <header class="single-header portfolio-single-header inner-content">

                            <div class="title-and-meta">

                                <h1 class="single-title">Hot Coffee</h1>

                                <span class="post-meta-info single-meta">

                                <span class="post-date">
                                    October 24, 2014                            <span class="meta-sep">/</span>
                                </span>

                                <span class="post-comments-wrap"><a href="index.html#comments" class="post-comments" >3 comments</a><span class="meta-sep">/</span></span><span class="post-categories"><span></span><a href="#" rel="tag">Gallery</a><span class="meta-sep">/</span></span>
                                <span class="posted-by">Posted by: admin</span>

                                </span>
                                <!-- end .post-meta-info -->

                            </div>
                            <!-- end .title-and-meta -->

                            <!-- Portfolio Single Next-Previous Nav -->
                            <div class="nxt-prev-post">
                                <a href="#" title="Revslider Gallery" class="previous-post rf-button"><img width="429" height="386" src="<%= image_path 'yes_thumbs_minimal_playing_cards-430x480-e1444297831387.jpg'%>" class="attachment-post-thumbnail wp-post-image" alt="Box Mockup" /><i class="fa fa-long-arrow-left"></i><span> Previous Project</span></a><a href="#" class="back-link previous-post"><i class="fa fa-th-large"></i></a>
                                <a href="#" title="Soundcloud Embed" class="next-post rf-button"><img width="430" height="480" src="<%= image_path 'yes_thumbs_cast_iron_birds-430x480.jpg'%>" class="attachment-post-thumbnail wp-post-image" alt="Wooden Bird" /><span>Next Project </span><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                            <div class="clear"></div>

                        </header>

                        <div class="single-content-wrap inner-content">

                            <div class="single-content clearfix">
                                <p>The gallery below is built with wordpress&#8217; <strong>native gallery</strong> shortcode. Theme comes with modified and enhanced one. Options for this type of gallery are controlled from the <a href="index.html#">Theme Customizer</a>. Lorem ipsum dolor sit amet, consectetur adip isnostruden exercitation ullamicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostruden exercitation ullamco laboris nisi ut aliquip consectetur.</p>
                            </div>
                            <!-- Post Sharing -->
                            <h3 class="single-post-sharing">

                            <!-- Portfolio Single Next-Previous Nav -->
                            <a href="#" title="Revslider Gallery" class="previous-post rf-button"><img width="429" height="386" src="<%= image_path 'yes_thumbs_minimal_playing_cards-430x480-e1444297831387.jpg'%>"  class="attachment-post-thumbnail wp-post-image" alt="Box Mockup" /><i class="fa fa-long-arrow-left"></i><span> Previous Project</span></a><a href="#" class="back-link previous-post"><i class="fa fa-th-large"></i></a><a href="#" title="Soundcloud Embed" class="next-post rf-button"><img width="430" height="480" src="<%= image_path 'yes_thumbs_cast_iron_birds-430x480.jpg'%>" class="attachment-post-thumbnail wp-post-image" alt="Wooden Bird" /><span>Next Project </span><i class="fa fa-long-arrow-right"></i></a>

                        </h3>

                        </div>

                    </div>

                    <!-- Portfolio Project Info -->
                    <div class="project-info inner-content body-section" data-left-margin="40" data-sticky="yes" data-sticky-offset="1">

                        <!-- Portfolio Project Details -->
                        <div class="project-details-wrap">

                            <ul class="project-details">

                                <li><strong><i class="fa fa-user"></i> Client:</strong><span class="proj-details-meta">John McDoe</span></li>
                                <li class="info-categories"><strong><i class="fa fa-list"></i> Categories:</strong>
                                    <ul class="proj-details-meta">
                                        <li><a href="#" rel="tag">Gallery</a></li>
                                    </ul>
                                </li>
                                <li><strong><i class="fa fa-tasks"></i> Skills:</strong>
                                    <ul class="proj-details-meta">
                                        <li>CSS</li>
                                        <li>HTML</li>
                                        <li>jQuery</li>
                                    </ul>
                                </li>

                                <li>
                                    <strong>
                                        <i class="fa fa-link"></i> Project Url:
                                    </strong>
                                    <span class="proj-details-meta">
                                        <a href="http://www.example.com" class="project-link" target="_blank">View Project</a>
                                    </span>
                                </li>
                                <li class="info-sharing">
                                    <strong>
                                        <i class="fa fa-share-alt"></i>
                                        <span>Share Project :</span>
                                    </strong>
                                    <span class="proj-details-meta">
                                        <a href="#" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#r" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-tumblr"></i>
                                        </a>
                                        <a href="#" target="_blank">
                                            <i class="fa fa-reddit"></i>
                                        </a>
                                    </span>
                                </li>

                            </ul>
                            <!-- end .project-details -->

                        </div>
                        <!-- end .project-info -->

                        <!-- Portfolio Single Next-Previous Nav -->
                        <div class="nxt-prev-post">
                            <a href="#" title="Revslider Gallery" class="previous-post rf-button"><img width="429" height="386" src="<%= image_path 'yes_thumbs_minimal_playing_cards-430x480-e1444297831387.jpg'%>"  class="attachment-post-thumbnail wp-post-image" alt="Box Mockup" /><i class="fa fa-long-arrow-left"></i><span> Previous Project</span></a><a href="#" class="back-link previous-post"><i class="fa fa-th-large"></i></a>
                            <a href="#" title="Soundcloud Embed" class="next-post rf-button"><img width="430" height="480" src="<%= image_path 'yes_thumbs_cast_iron_birds-430x480.jpg'%>" class="attachment-post-thumbnail wp-post-image" alt="Wooden Bird" /><span>Next Project </span><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- Portfolio Single Next-Previous Nav on Side -->
                    <a href="#" title="Revslider Gallery" class="previous-post rf-button"><img width="429" height="386" src="<%= image_path 'yes_thumbs_minimal_playing_cards-430x480-e1444297831387.jpg'%>" class="attachment-post-thumbnail wp-post-image" alt="Box Mockup" /><i class="fa fa-long-arrow-left"></i><span> Previous Project</span></a><a href="#" class="back-link previous-post"><i class="fa fa-th-large"></i></a>
                    <a href="#" title="Soundcloud Embed" class="next-post rf-button"><img width="430" height="480" src="<%= image_path 'yes_thumbs_cast_iron_birds-430x480.jpg'%>" class="attachment-post-thumbnail wp-post-image" alt="Wooden Bird" /><span>Next Project </span><i class="fa fa-long-arrow-right"></i></a>
                </article>
                <!-- Portfolio Single Post -->

            </div>
            <!-- end .inner-content-wrap -->

            <!-- get footer.php -->

        </div>
        <!-- end #main-wrap -->

       

        <!-- Back to Top button -->

        <div class="back-to-top" data-duration="400" data-scroll-top="600">
            <i class="rf-button fa fa-angle-up"></i>
        </div>

    </div>
    <!-- end #page-wrap -->



    

</body>
