


<body class="home page page-id-6 page-template page-template-portfolio page-template-portfolio-php logged-in royal-page-preloader sidebar-top sidebar-top-fixed sidebar-top-scale deeplinking single-header-below-b single-header-below-p sharing-nxt-prev-b sharing-nxt-prev-p project-info-sharing project-info-right infinitescroll-twitter open-house wpb-js-composer js-comp-ver-4.7.4 vc_responsive">



    <!-- Whole Page Wrapper -->
    <div id="page-wrap" class="clearfix" data-fx="none" data-fx-speed="500">

        

        <!-- Main Content Wrapper -->
        <div id="main-wrap">

            <!-- Inner Content Wrapper -->
            <div class="inner-content-wrap">

                <!-- Portfolio Single Post -->
                <article id="post-175" class="portfolio-single clearfix post-175 royal_portfolio type-royal_portfolio status-publish format-gallery has-post-thumbnail hentry royal_portfolio_cats-post-format-gallery royal_portfolio_skills-css royal_portfolio_skills-html royal_portfolio_skills-jquery royal_portfolio_skills-wordpress">

                    <div class="single-wrap body-section clearfix">

                        <!-- Blog Single Gallery Slideshow -->
                        <div class="gallery-slideshow">

                            <div class="gallery-slide">
                                <div class="image-overlay-wrap lightbox-overlay"><a href="upload/content_big_image_052.jpg" class="image-overlay" rel="prettyPhoto[gallery-slide]" data-title="Cattle"><i class="fa fa-none"></i></a><img src="<%= image_path 'content_big_image_052.jpg'%>" alt="Cattle" /></div>
                                <p class="stacked-caption"><span>Cattle</span></p>
                            </div>
                            <div class="gallery-slide">
                                <div class="image-overlay-wrap lightbox-overlay"><a href="upload/content_big_image_068.jpg" class="image-overlay" rel="prettyPhoto[gallery-slide]" data-title="White Cup"><i class="fa fa-none"></i></a><img src="<%= image_path 'content_big_image_068.jpg'%>" alt="White Cup" /></div>
                                <p class="stacked-caption"><span>White Cup</span></p>
                            </div>
                            <div class="gallery-slide">
                                <div class="image-overlay-wrap lightbox-overlay"><a href="upload/content_big_image_088.jpg" class="image-overlay" rel="prettyPhoto[gallery-slide]" data-title="Transparent Glass"><i class="fa fa-none"></i></a><img src="<%= image_path 'content_big_image_088.jpg'%>" alt="Transparent Glass" /></div>
                                <p class="stacked-caption"><span>Transparent Glass</span></p>
                            </div>

                        </div>
                        <!-- Portfolio Single Title & Meta -->
                        <header class="single-header portfolio-single-header inner-content">

                            <div class="title-and-meta" style="width:100%;">

                                <h1 class="single-title">Gallery Stacked</h1>

                                <span class="post-meta-info single-meta">

                                <span class="post-date">
                                    October 24, 2014                            
                                    <span class="meta-sep">/</span>
                                </span>

                                <span class="post-comments-wrap"><a href="#" class="post-comments" >4 comments</a><span class="meta-sep">/</span></span><span class="post-categories"><span></span><a href="#" rel="tag">Gallery</a><span class="meta-sep">/</span></span>
                                <span class="posted-by">Posted by: admin</span>

                                </span>
                                <!-- end .post-meta-info -->

                            </div>
                            <!-- end .title-and-meta -->


                            <div class="clear"></div>

                        </header>

                        <div class="single-content-wrap inner-content">

                            <div class="single-content clearfix">
                                <p>You can create <strong>Slideshows</strong> and <strong>Stacked</strong> galleries with Post Format: Gallery. Also you can manage &#8211; add/edit/delete images any time you want. Theme comes with huge amount of gallery options, which could be previewed from <strong>Theme Customizer</strong>. Lorem ipsum dolor sit amet, consectetur adip isnostruden exercitation ullamicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ullamco laboris nisi ut aliquip.</p>
                            </div>
                            <!-- Post Sharing -->
                            <h3 class="single-post-sharing">

                            <!-- Portfolio Single Next-Previous Nav -->
                            <a href="#" title="Soundcloud Embed" class="previous-post rf-button"><img width="430" height="480" src="<%= image_path 'yes_thumbs_cast_iron_birds-430x480.jpg'%>" class="attachment-post-thumbnail wp-post-image" alt="Wooden Bird" /><i class="fa fa-long-arrow-left"></i><span> Previous Project</span></a>
                            <a href="#" class="back-link previous-post"><i class="fa fa-th-large"></i></a>
                            <a href="#" title="Gallery Slideshow" class="next-post rf-button"><img width="430" height="480" src="<%= image_path 'yes_thumbs_cubebot-430x480.jpg'%>" class="attachment-post-thumbnail wp-post-image" alt="Wooden Robot" /><span>Next Project </span><i class="fa fa-long-arrow-right"></i></a>


                        </h3>

                        </div>

                    </div>

                </article>
                <!-- Portfolio Single Post -->

            </div>
            <!-- end .inner-content-wrap -->

            <!-- get footer.php -->

        </div>
        <!-- end #main-wrap -->

       

        <!-- Back to Top button -->

        <div class="back-to-top" data-duration="400" data-scroll-top="600">
            <i class="rf-button fa fa-angle-up"></i>
        </div>

    </div>
    <!-- end #page-wrap -->



    
</body>
